* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.App {
  width: 100%;
  height: 100%;
}
.cover-image {
  width: 100vw;
  height: auto;
  background-image: url("./assets/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #fff;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Cantata One;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-caption {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: Cagliostro;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 37px;
}
.main button {
  background: #e27b60;
  color: #fff;
  font-family: Cantata One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 291px;
  height: 65px;
  flex-shrink: 0;
  border: none;
}
.div2 {
  padding: 30px;
}
.div2-heading1 {
  color: #e27b60;
  font-family: Cagliostro;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
}
.div2-heading2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div2-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.div2-image img {
  width: 500px;
  height: auto;
}
.div2-para {
  width: 800px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div2-para p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.5px;
}
.div2-para button {
  margin-top: 25px;
  background: #e27b60;
  color: #fff;
  font-family: Cantata One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 291px;
  height: 65px;
  flex-shrink: 0;
  border: none;
}
.menu-div-h1 {
  text-align: center;
  font-family: Cagliostro;
  font-size: 50px;
}
.menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu-div img {
  margin: 15px;
}
.div4 {
  background-color: gray;
}
.div4-p img {
  position: relative;
  top: 1px;
  width: 15px;
  height: auto;
  margin: 2px;
}
.div4-p {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  * {
    overflow-x: visible;
  }
  .main-caption {
    font-size: 50px;
  }
  .main button {
    width: 200px;
    height: 50px;
    font-size: 15px;
  }
  .div2-heading2 {
    font-size: 25px;
  }
  .div2-heading1 {
    font-size: 15px;
  }
  .div2-para {
    width: auto;
    justify-content: center;
    padding: 10px;
  }
  .div2-main {
    flex-direction: column;
  }
  .div2-image img {
    width: 100%;
    height: auto;
  }
  .div2-para p {
    font-size: 15px;
    /* padding:0px 20px; */
  }
  .div2-para button {
    width: 200px;
    height: 50px;
    font-size: 15px;
  }
  .menu-div-h1 {
    font-size: 40px;
  }
  .menu-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
